:root {
    --bg_black: black;
    --bg_dark_gray:#1f1f1f;
    --bg_light_gray:#bebcbb;
    --bg_bt_red:#cd3d0f ;
    --bg_primary_blu_light: #2d64e6;
    --bg_primary_blu: #00439c;
    --bg_dark_blu: #161c3b;

}


#new_games{
    background-color: var(--bg_dark_gray);
}
#playplus{
    background-color: var(--bg_light_gray);
}
#playnow{
    background-color: var(--bg_dark_blu);
}
#returnal_jumbo{
    background-image:url('./assets/img/returnal-listing-thumb-01-ps5.jpg');
}
#It_Takes_Two_jumbo{
    background-image: url('./assets/img/it-takes-two-hero-banner-desktop.jpg');
}
footer{

    background-color: var(--bg_primary_blu_light);
}

.w_30{
    width: 30%;
   
}

.fs_title{
    font-size: 48px;
}

.fs_p{
    font-size: 28px;
}


.dark_bt{
    background-color: var(--bg_dark_gray);
    color: white;
    border: none;
    border-radius: 20px;

}

.opacity_bt{
    background-color: rgba(190,188,187,255,0.3);
    padding: 8px;
    color: var(--bg_primary_blu_light);
font-weight: 700;
    border: none;
    border-radius: 20px;
    
    

}



.logo_white{
   filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    width: 25%;
}

.jumbotron{
    height: 400px;
}
.jumbotron_content{
   position: absolute;
   bottom: 20%;
   left: 10%;
   width: 50%;
}
.jumbotron_content2{
    position: absolute;
top: 5%;
left: 5%;

    width: 80%;
 }
.red_bt{
    background-color: var(--bg_bt_red);
    color: white;
    border: none;
    border-radius: 20px;
    

}
/* #region debug */



/* 
.debug .jumbotron{
    height: 600px;
    background-color: blue;
} */





/* #endregion debug */